<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <nav>
            <li><a>Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/Jobs">Jobs</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
    </nav>
    <div id="accCreate">
        <h1>Create Account</h1>
        <form action="#" th:action="@{/accountCreation}" th:object="${newUser}" method="post">
            Username:  
            <input id="userName" type="text" th:field="*{username}">
            <br> <br>  
            Password: 
            <input id="passWord" type="password" th:field="*{password}">

            <br><br>
            <h5>Please select driver, employer, or both</h5>
            <input type="checkbox" id="driver" name="Driver" value="driver" th:field="*{driver}">
            <label for="Driver">Driver</label><br><br>
            <input type="checkbox" id="employer" name="Employer" value="employer" th:field="*{employer}">
            <label for="Employer">Employer</label><br>
            <br>
            <button id="submit" type="submit" value="Submit" th:text="Submit"></button>
        </form>
    </div>
    <div>
        <card th:each="user : ${Users}">
            <h5 th:text="@{user.username}"></h5>
        </card>
    </div>
</body>
<script>

</script>

</html>