<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <nav>
            <li><a>Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/ViewJobs">Jobs</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
    </nav>

    <h1>Available Jobs</h1>

    <div>
        <h2>Post a Job</h2>
        <form action="#" th:action="@{/Jobs}" th:object="${newJob}" method="post">
        <p>Job Name: <input type="text" th:field="*{jobName}"></p>
        <p>Description: <input type="text" th:field="*{description}"></p>
        <p>Cargo: <input type="text" th:field="*{cargo}"></p>
            <p>Employer Id<input type="number" th:field="*{employerId}"></p>
            <p>Start Location: <input type="number" th:field="*{start_location}"></p>
        <p>End Location: <input type="number" th:field="*{end_location}"></p>
        <button id="submit" type="submit" value="Submit" th:text="Submit"></button>
        </form>
    </div>

</body>
</html>