<!DOCTYPE html>
<html lang="en" xmls:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <nav>
            <li><a>Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/ViewJobs">Jobs</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>

        <div>
            <ul>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <h1>Available Jobs</h1>

    <div>
        <h2>Post a Job</h2>
        <form action="#" th:action="@{/Jobs}" th:object="${newJob}" method="post">
        <p>Job Name: <input type="text" th:field="*{jobName}"></p>
        <p>Description: <input type="text" th:field="*{description}"></p>
        <p>Cargo: <input type="text" th:field="*{cargo}"></p>
            <p>Employer Email<input type="text" th:field="*{employerEmail}"></p>
            <p>Start Location: <input type="number" th:field="*{start_location}"></p>
        <p>End Location: <input type="number" th:field="*{end_location}"></p>
        <button id="submit" type="submit" value="Submit" th:text="Submit"></button>
        </form>
    </div>

</body>
</html>